html{
    /* scroll-behavior: smooth; */
}
body{
    overflow-x : hidden; 
}
body::-webkit-scrollbar {
    display: none;
}
.navbar{
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.hero-image img{
    height: 28rem;
    width: auto;
}
.about{
    height: 100vh;
    background: rgb(231, 222, 222);
}
.about-image{
    height: 28rem;
    width: auto;
}
.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills{
    height: 100vh;
}



/* skills section */
.skills{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    
}
.skill{
    background: #6d8bef;
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 5rem;
    border-radius: 5px;
    align-items: center;
}
.progress{
    width: 8rem;
}
